

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header{
    display: flex;
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}
#marca{
    width:100%;
    height: 100%;
}




nav a{
    text-decoration: none;
    color: #1b263b;
    padding: 0px 50px;
    cursor: pointer;
    font-weight: bold;
}

nav a:hover{
    color: white;
}

#banner{
   /* background-image: url(imagens/bolos-velas-aalaw-e-polvilha-no-canto-do-fundo-rosa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background: linear-gradient(180deg, #e0e1dd, #0d1b2a);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    flex-direction: column;

}

#s1{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





#bt1{
    position: relative;
    background-color: transparent;
    width: 10vw;
    height: 10vh;
    font-size: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    
}

#botao{
    display: flex;
    margin-top: 100px;
    border: 6px solid;
    background: transparent;
    border-image: linear-gradient(45deg, #0d1b2a, #e0e1dd)1;
    border-radius: 5px;
    width: 15vw;
    align-items: center;
    justify-content: center;
    
}
#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



/*#bt1:hover,#bt3:hover{
    transform: scale(1.05);
    
}*/

#botao:hover{
    transform: scale(1.05);
    
}

#banner h1{
    color: #e0e1dd;

}
#banner span{
    color: #0d1b2a;

}

header.rolagem{
    background-color: #1b263b;
    padding: 20px 4%;
}

header.rolagem a{
    color: aliceblue;
}

header a.rolagem{
    color: white;
}

header a:hover.rolagem{
    color: salmon;
}



#second{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150vh;
    width: 100%;
    background-color: #e0e1dd;
}

#head{
    margin-bottom: 25px;
    font-size: 20px;
}

form{
    background-color: #0d1b2a;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 40px;
    height: fit-content;
    border-radius: 8px;
    color: #e0e1dd; 
    align-items: center;
    justify-content: center;
    
    
}

#descricao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-size: 15px;
    
}



input{
    width: 30vw;
    height: 5vh;
    border-radius: 5px;
    border-color: transparent;
    font-size: 15px;
    cursor: text;
}

.produto{
    padding: 10px 0px;
}

.produto i{
    padding-right: 10px;
    font-size: 25px;
}
#icon_list{
    padding-right: 5px;
}

#icon_valor{
    padding-right: 17px;
}

input:focus{
    outline: none;
}

#insumos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}


#bt2, #bt3{
    margin-top: 20px;
    width: 25vw;
    height: 5vh;
    font-size: 20px;
    font-weight: bold;
    background-color: #e0e1dd;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#bt2:hover{
    transform: scale(1.05);
}


#tabela{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    gap: 50px;
    background-color: #e0e1dd;
}

table{
    border-collapse: collapse;
    width: 50vw;
    height: 20vh;
    font-size: 20px;


}
#cuidado{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    color: red;
    
    
}

caption{
    border: 2px solid black;
    height: 50px;
    padding-top: 10px;
    font-weight: bold;
}

.percent{
    height: 50px;
    font-weight: bold;
}

td{
    border: 2px solid black;
    text-align: center;

}
th{
    border: 2px solid black;
    background-color: grey;
    font-weight: bold;
    
}





#alerta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    background-color: #e0e1dd;
    margin-bottom: 50px;
    margin-top: 50px;
   

}

#pert{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #0d1b2a;
    color: #e0e1dd;
    width: 37.8vw;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

#aquario1, #aquario2, #aquario3, #aquario4,#aquario5,#aquario6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    width: 20vw;
    height: 5vh;
    background-color: #e0e1dd;
    color: red;
    font-size: 20px;
    
}

#title_valor{
    font-size: 30px;
}
