

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 500vh;
}

header{
    display: flex;
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}
#marca{
    width:100%;
    height: 100%;
}




nav a{
    text-decoration: none;
    color: salmon;
    padding: 0px 50px;
    cursor: pointer;
}

nav a:hover{
    color: white;
}

#banner{
   /* background-image: url(imagens/bolos-velas-aalaw-e-polvilha-no-canto-do-fundo-rosa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background: #e0e1dd;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    flex-direction: column;

}

#s1{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





#bt1{
    position: relative;
    background-color: #e0e1dd;
    width: 25vw;
    height: 15vh;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 100px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    
}

#botao{
    margin-top: 100px;
    border: 6px solid;
    background: transparent;
    border-image: linear-gradient(45deg, #0d1b2a, olive) 1;
    border-radius: 5px;
}



/*#bt1:hover{
    transform: scale(1.05);
    
}*/

#botao:hover{
    transform: scale(1.05);
    
}

#banner h1{
    color: #0d1b2a;

}
#banner span{
    color: #0d1b2a;

}

header.rolagem{
    background-color: #1b263b;
    padding: 20px 4%;
}

header.rolagem a{
    color: aliceblue;
}

header a.rolagem{
    color: white;
}

header a:hover.rolagem{
    color: salmon;
}



#second{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150vh;
    width: 100%;
    background-color: antiquewhite;
}


form{
    background-color: salmon;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 40px;
    height: fit-content;
    border-radius: 8px;
    
    
}

#descricao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-size: 15px;
}

input{
    width: 30vw;
    height: 5vh;
    border-radius: 5px;
    border-color: salmon;
}

.produto{
    padding: 10px 0px;
}

.produto i{
    padding-right: 10px;
    font-size: 25px;
}

input:focus{
    outline: none;
}

#insumos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}


#bt2{
    margin-top: 20px;
    width: 25vw;
    height: 5vh;
    font-size: 20px;
    font-weight: bold;
    background-color: antiquewhite;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#bt2:hover{
    transform: scale(1.05);
}


#tabela{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    gap: 50px;
}

table{
    border-collapse: collapse;
    width: 50vw;
    height: 10vh;
    font-size: 20px;


}

caption{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    text-align: center;
    height: 10px;
}
th{
    border: 1px solid black;
    font-weight: bold;
}


#alerta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    background-color: antiquewhite;
    margin-bottom: 100px;
    margin-top: 0px;
}

#aquario1, #aquario2, #aquario3, #aquario4,#aquario5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    width: 20vw;
    height: 5vh;
    background-color: antiquewhite;
    color: red;
    font-size: 20px;
    
}